    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <img src="./images/hopebridge.png" alt="logo">
                <h3>HopeBridge</h3>
            </div>
            <p>Building bridges of hope through compassion and community support.</p>
            <div class="footer-links">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a>
                <a href="#">Contact</a>
            </div>
            <p class="copyright">© 2025 HopeBridge. All rights reserved.</p>
        </div>
    </footer>
    <script src="script.js"></script>
</body>
</html>