<%- include('partials/header') %>

<main class="login-main">
    <h1>Login</h1>
    <p>Enter your account credentials below</p>
    <form action="">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <a href="">Forgot password?</a>
        <button class="btns">Login</button>
    </form>
</main>

<%- include('partials/footer') %>